.idea/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/myRssReader.iml
.idea/watcherTasks.xml
.idea/workspace.xml
node_modules/
.idea/inspectionProfiles/
.idea/jsLinters/
.idea/php.xml
css/sass/resetStyleDefault.css.map
css/sass/style.css.map
